.DS_Store
.dart_tool/

.packages
.flutter-plugins
.pub/
pubspec.lock

build/
doc/

*.iml

/.idea/workspace.xml
/.idea/markdown-*.xml
/.idea/checkstyle-idea.xml
/.idea/encodings.xml

/.idea/libraries
/.idea/dictionaries
/.idea/runConfigurations
/.idea/sonarlint
/.idea/markdown-navigator
